
.case-cover-handly{
	position: relative;
	height: 60vh;
	width: 100%;
	background-color: #3498db;
	text-align: center;

	img{
		float: left;
		position: absolute;
		margin-top: 162px;
	}

	span{
		display: inline-block;
		color: $white96;
	}
	.date{
		float: left;
		position: absolute;
		bottom: -458px;
	}
	.role{
		float: right;
		position: absolute;
		bottom: -458px;
		right: 0;
	}

	.case-button{
		background-color: transparent;
		border: 2px solid $white96;
		color: $white96;
		cursor: pointer;
		position: absolute;
		left: 50%;
		bottom: -431px;
		margin-left: -136px;
		border-radius:6px;
		font-size: 1em;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 2;
		letter-spacing: 1px;
		outline: none;
		padding:16px 38px;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;

		&:hover{ color: $white96; background-color: rgba(0,0,0,0.9);}
	}

}

section.case-study {
	height: 40vh;
	padding: 80px;
	p{ max-width: 430px; }
}

section.case-slider{
	height: 700px;
	width: 100%;
	position: relative;
	background-color: #ebebeb;
}

section.case-caption{
	background-color: $white96;
	padding: 80px;
	text-align: center;
	p{ max-width:480px;margin: 0 auto; }
}

.case-pic1{
	height: 614px;
	width: 100%;
	background: url("../img/antikythera-mecanism.jpg") no-repeat top center;
	background-size: cover;
}
.case-pic2{
	height: 614px;
	width: 100%;
	background: url("../img/antikythera-end.jpg") no-repeat top center;
	background-size: cover;
}

.footer-credits{
	text-align: center;
	background-color: #ebebeb;
	padding:38px;
}

.footer-thanks{
	background-color: $dark;
	text-align: center;
	padding: 82px;
}
.footer-back{
	text-transform: uppercase;
	font-size: 1.125em;
	color: $light-purple;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	
	&:hover{
		color: $white96;
	}
}

.case-title{
	font-weight: 300;
	color: $white96;
	margin-bottom: 24px;
}

