
/* Import */ 
@import "compass";
@import "reset";
@import "grid"; 
@import "base"; 
@import "header"; 
@import "home"; 
@import "works";
@import "case-antik";
@import "about";
@import "contact";
@import "footer";


*,
*:before,
*:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }




